# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
backend/.env
backend/dataviewer.exe
backend/storage/dataviewer.db
CLAUDE.md
.idea/*

